body {
  background: #e6f8e0;
  font-family:Arial, Helvetica, sans-serif
}

h1.title {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #6E6E6E;
  font-size: 2.7em;
  padding:20px;
}

table {
  margin: auto;
}

td {
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

#btnContainer {
  margin: auto;
  width: 250px;
  padding: 3em 0 3em 0;
}

input[type="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 250px;
  font-size: 1.8em;
  padding: .5em;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #e6631c;
  background: #fafafa;
  cursor: pointer;
}


#capaMensaje {
    margin: auto;
    text-align: center;
    color: blueviolet;
    font-size: 2em;
}


.contenedorInferior {

    position: absolute;
    bottom: 5px;
    right: 10px;
}

img {
  height: 150px;
  width: 150px;
}